    #app {
        overflow: hidden;
        position: relative;
    }
    
    .header {
        /* position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        padding: 10px 100px;
        background-color: white;
        box-shadow: inset 0px -1px 0px #e4e4e7; */
    }
    
    .header ul {
        display: flex;
        align-items: center;
        padding-left: 0;
        list-style-type: none;
        font-size: 2.5rem;
        margin: 0;
    }
    
    .header ul li {
        padding-right: 20px;
    }
    
    .header ul li:last-child {
        padding-right: 0px;
    }
    
    .header li a img {
        display: block;
    }
    
    .header li a {
        display: flex;
        color: var(--primary);
        align-items: center;
        text-decoration: none;
        -webkit-transition: all 0.4s ease 0s;
        -moz-transition: all 0.4s ease 0s;
        -ms-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
    }
    
    .header li a.btn-link {
        color: var(--gray3);
        font-weight: 600;
    }
    
    .btn.btn-danger {
        background-color: #8ec741;
        -webkit-transition: all 0.4s ease 0s;
        -moz-transition: all 0.4s ease 0s;
        -ms-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        border-radius: 0.75em;
    }
    
    .btn.btn-danger:hover {
        transform: scale(1.15);
        color: white;
        background-color: #73a530;
    }
    
    .blue-link {
        text-decoration: none;
        color: #401ead;
        margin-left: 20px;
        font-size: 20px;
    }
    /* Main Content */
    
    .section-box.section-organized.bg-gradient {
        padding: 100px 200px;
        margin: 0 -200px;
    }
    
    .main-content {
        font-family: 'Rockwell', sans-serif;
        padding: 0px 200px 50px;
        margin-top: 0px;
        color: var(--black-color);
        line-height: 26px;
    }
    /* top header */
    
    .section-box.section-organized.bg-gradient.first-section {
        border-top: none;
    }
    
    .section-organized {
        padding: 100px 0;
    }
    
    .section-organized.top-header h2 {
        text-align: center;
        font-size: 54px;
    }
    
    .section-organized.top-header p.paragraph {
        text-align: center;
        font-size: 24px;
        color: var(--textDark);
    }
    /* Organized First */
    
    .section-organized .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .section-organized p.edit-img {
        text-align: center;
    }
    
    .section-organized h2 {
        font-size: 45px;
        font-weight: 800;
        text-transform: capitalize;
        line-height: 1.2em;
        font-family: 'Rockwell-Bold';
        margin: 0;
        color: var(--h3-color);
        /* text-shadow: 1px 1px 0 black; */
    }
    
    .section-organized p.paragraph {
        color: var(--textDark);
        line-height: 2em;
        text-align: justify;
        font-size: 18px;
    }
    
    .download-btn {
        background-color: var(--button-bg);
        color: var(--white-color);
        padding: 18px 26px;
        font-size: 16px;
        margin-top: 16px;
        display: inline-block;
    }
    
    .section-organized h3 {
        font-size: 30px;
        font-weight: 800;
        text-transform: capitalize;
        line-height: 1.2em;
        font-family: 'Rockwell-Bold';
        margin: 0;
        color: var(--white-color);
        /* color: var(--h3-color); */
        /* text-shadow: 1px 1px 0 black; */
    }
    
    .section-organized h4 {
        font-size: 14px;
        font-weight: 700;
        text-transform: capitalize;
        line-height: 1.2em;
        font-family: 'Rockwell-Bold';
        margin: 0;
        color: var(--white-color);
    }
    
    .section-organized p {
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
        line-height: 2.6em;
        font-family: 'Rockwell-Bold';
        margin: 20px 0;
        /* color: #868686; */
        color: var(--white-color);
        /* text-shadow: 1px 1px 0 var(--h3-color); */
    }
    
    .text-dark {
        color: var(--textDark);
    }
    
    .subtitle {
        font-size: 1.87rem;
        line-height: 2.75rem;
        font-weight: 700;
        font-family: 'Open Sans', sans-serif;
    }
    
    .subtitle h4 {
        font-size: 22px;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
    }
    
    .bg-gradient {
        /* background-color: #f8f8f8; */
        background-color: #8ec741;
        border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
    }
    
    .two-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0;
        list-style-type: none;
        font-size: 2.5rem;
        margin: 0;
    }
    
    .two-btn li {
        padding-right: 20px;
    }
    
    .two-btn li a {
        display: flex;
        color: var(--gray3);
        align-items: center;
        text-decoration: none;
        -webkit-transition: all 0.4s ease 0s;
        -moz-transition: all 0.4s ease 0s;
        -ms-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
    }
    
    .section-organized ul {
        font-size: 18px;
        color: var(--white-color);
    }
    
    .section-organized ul li {
        margin-bottom: 22px;
    }
    
    .section-organized ul li i {
        padding-right: 6px;
    }
    
    span.burnout {
        text-decoration: underline;
        font-style: italic;
    }
    /*  Content Pages */
    
    .content-pages {
        padding: 100px 100px 20px 100px;
    }
    /* footer */
    
    footer {
        padding: 30px 100px;
    }
    
    footer h3 {
        color: var(--h3-color);
        font-size: 16px;
        font-weight: 800;
        text-transform: capitalize;
        line-height: 1.6em;
    }
    
    footer p {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.9em;
        color: var(--textDark);
    }
    
    footer ul {
        padding-left: 0;
    }
    
    footer ul li {
        margin-bottom: 12px;
    }
    
    footer a {
        font-size: 14px;
        color: var(--textDark);
        text-decoration: none;
        font-weight: 600;
    }
    
    footer .link-bottom {
        font-size: 16px;
        font-weight: 500;
        margin-top: 32px;
        text-align: center;
    }
    
    footer .link-bottom a {
        color: var(--h3-color);
        text-align: left;
        line-height: 1.2em;
        text-decoration: none;
        font-weight: bold;
    }
    /* Side Floater */
    
    .share {
        position: fixed;
        z-index: 1000;
        right: 0;
        bottom: 50%;
        width: 70px;
        padding: 18px 6px 0;
        background: #fff;
        border-radius: 20px 0 0 20px;
        transform: translate(0, 50%);
        box-shadow: 0 0 1em rgb(0 0 0 / 10%);
    }
    
    .srOnly {
        position: absolute;
        overflow: hidden;
        width: 1px;
        height: 1px;
        opacity: 0;
    }
    
    .share a {
        display: block;
        transition: transform .3s;
    }
    
    .share a:hover {
        transform: translate(0, -8px);
    }
    
    .share img {
        display: block;
        padding: 14px 8px;
        max-width: 100%;
    }
    /* button color */
    
    .button-apply a {
        background-color: #8ec741;
        color: #fff;
    }
    /* second section */
    
    .second-section .button-apply {
        margin-top: 30px;
    }
    
    .second-section h3,
    .four-section h3,
    .six-section h3 {
        color: var(--h3-color);
    }
    /* third section */
    
    .third-section .h3-padding {
        margin: 30px 0 20px;
    }
    
    .third-section .btn.btn-danger,
    .five-section .btn.btn-danger,
    .seven-section .btn.btn-danger {
        background-color: var(--white-color);
        /* background-color: #8ec741; */
        color: var(--h3-color);
    }
    
    .second-section.section-organized ul,
    .six-section.section-organized ul {
        font-size: 18px;
        color: var(--title-color);
    }
    
    .four-section p,
    .second-section h4 {
        color: var(--title-color);
    }
    /* last row */
    
    .last-row p {
        line-height: 18px;
    }
    
    .fa-address-book,
    .fa-balance-scale,
    .fa-bank,
    .fa-credit-card {
        font-size: 50px;
        color: var(--h3-color);
    }
    
    .second-section .row.middle {
        margin: 50px 0;
    }