    #app {
        overflow: hidden;
        position: relative;
    }
    
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        padding: 10px 100px;
        background-color: white;
        box-shadow: inset 0px -1px 0px #e4e4e7;
    }
    
    .header ul {
        display: flex;
        align-items: center;
        padding-left: 0;
        list-style-type: none;
        font-size: 2.5rem;
        margin: 0;
    }
    
    .header ul li {
        padding-right: 20px;
    }
    
    .header ul li:last-child {
        padding-right: 0px;
    }
    
    .header li a img {
        display: block;
    }
    
    .header li a {
        display: flex;
        color: var(--primary);
        align-items: center;
        text-decoration: none;
        -webkit-transition: all 0.4s ease 0s;
        -moz-transition: all 0.4s ease 0s;
        -ms-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
    }
    
    .header li a.btn-link {
        color: var(--gray3);
        font-weight: 600;
    }
    
    .btn.btn-danger {
        background: var(--red);
        -webkit-transition: all 0.4s ease 0s;
        -moz-transition: all 0.4s ease 0s;
        -ms-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        border-radius: 0.75em;
    }
    
    .btn.btn-danger:hover {
        transform: scale(1.15);
        color: white;
        background: var(--redShadow);
    }
    
    .blue-link {
        text-decoration: none;
        color: #401ead;
        margin-left: 20px;
        font-size: 20px;
    }
    /* Main Content */
    
    .section-box.section-organized.bg-gradient {
        padding: 50px 100px;
        margin-top: 60px;
    }
    
    .section-box-2.section-organized.bg-gradient {
        padding: 50px 100px;
        margin-top: 0px;
    }
    
    .main-content {
        font-family: 'Rockwell', sans-serif;
        padding: 50px 100px;
        margin-top: 0px;
        color: var(--black-color);
        line-height: 26px;
    }
    /* top header */
    
    .section-organized.top-header {
        padding: 26px 0;
    }
    
    .section-organized.top-header h2 {
        text-align: center;
        font-size: 54px;
    }
    
    .section-organized.top-header p.paragraph {
        text-align: center;
        font-size: 24px;
        color: var(--textDark);
    }
    /* Organized First */
    
    .section-organized {
        padding: 20px 0;
    }
    
    .section-organized .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .section-organized p.edit-img {
        text-align: center;
    }
    
    .section-organized h2 {
        font-size: 45px;
        font-weight: 800;
        text-transform: capitalize;
        line-height: 1.2em;
        font-family: 'Rockwell-Bold';
        margin: 0;
        color: var(--blue);
        /* text-shadow: 1px 1px 0 black; */
    }
    
    .section-organized p.paragraph {
        color: var(--textDark);
        line-height: 2em;
        text-align: justify;
        font-size: 18px;
    }
    
    .download-btn {
        background-color: var(--button-bg);
        color: var(--white-color);
        padding: 18px 26px;
        font-size: 16px;
        margin-top: 16px;
        display: inline-block;
    }
    
    .section-organized h3 {
        font-size: 30px;
        font-weight: 800;
        text-transform: capitalize;
        line-height: 1.2em;
        font-family: 'Rockwell-Bold';
        margin: 0;
        color: var(--blue);
        /* text-shadow: 1px 1px 0 black; */
    }
    
    .text-dark {
        color: var(--textDark);
    }
    
    .subtitle {
        font-size: 1.87rem;
        line-height: 2.75rem;
        font-weight: 700;
        font-family: 'Open Sans', sans-serif;
    }
    
    .subtitle h4 {
        font-size: 22px;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
    }
    
    .bg-gradient {
        background: linear-gradient(180deg, rgba(244, 247, 250, 0) 0%, #F4F7FA 100%);
    }
    
    .two-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0;
        list-style-type: none;
        font-size: 2.5rem;
        margin: 0;
    }
    
    .two-btn li {
        padding-right: 20px;
    }
    
    .two-btn li a {
        display: flex;
        color: var(--gray3);
        align-items: center;
        text-decoration: none;
        -webkit-transition: all 0.4s ease 0s;
        -moz-transition: all 0.4s ease 0s;
        -ms-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
    }
    
    .section-organized ul {
        font-size: 18px;
        color: var(--textDark);
    }
    
    .section-organized ul li {
        margin-bottom: 22px;
    }
    
    .section-organized ul li i {
        padding-right: 6px;
    }
    
    span.burnout {
        text-decoration: underline;
        font-style: italic;
    }
    /*  Content Pages */
    
    .content-pages {
        padding: 100px 100px 20px 100px;
    }
    /* footer */
    
    footer {
        padding: 30px 100px;
    }
    
    footer h3 {
        color: var(--blue);
        font-size: 16px;
        font-weight: 800;
        text-transform: capitalize;
        line-height: 1.6em;
    }
    
    footer p {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.9em;
        color: var(--textDark);
    }
    
    footer .link-bottom {
        font-size: 16px;
        font-weight: 500;
        margin-top: 32px;
        text-align: center;
    }
    
    footer .link-bottom a {
        color: var(--blue);
        text-align: left;
        line-height: 1.2em;
        text-decoration: none;
        font-weight: bold;
    }
    /* Side Floater */
    
    .share {
        position: fixed;
        z-index: 1000;
        right: 0;
        bottom: 50%;
        width: 70px;
        padding: 18px 6px 0;
        background: #fff;
        border-radius: 20px 0 0 20px;
        transform: translate(0, 50%);
        box-shadow: 0 0 1em rgb(0 0 0 / 10%);
    }
    
    .srOnly {
        position: absolute;
        overflow: hidden;
        width: 1px;
        height: 1px;
        opacity: 0;
    }
    
    .share a {
        display: block;
        transition: transform .3s;
    }
    
    .share a:hover {
        transform: translate(0, -8px);
    }
    
    .share img {
        display: block;
        padding: 14px 8px;
        max-width: 100%;
    }
    /* slide horizotal */
    
    #slider {
        overflow: hidden;
        max-width: 100%;
        margin: 0 auto;
    }
    
    #slider ul {
        position: relative;
        padding-left: 0;
        width: 700%;
        margin: 0;
        left: 0;
        animation: 16s slider infinite;
    }
    
    #slider ul li {
        width: 14.2857%;
        float: left;
    }
    
    @keyframes slider {
        0% {
            left: 0;
        }
        6% {
            left: 0;
        }
        12% {
            left: -100%;
        }
        18% {
            left: -100%;
        }
        24% {
            left: -200%;
        }
        32% {
            left: -200%;
        }
        40% {
            left: -300%;
        }
        52% {
            left: -300%;
        }
        62% {
            left: -400%;
        }
        70% {
            left: -400%;
        }
        78% {
            left: -500%;
        }
        84% {
            left: -500%;
        }
        90% {
            left: -600%;
        }
        100% {
            left: -600%;
        }
    }